In [15]:
import pandas as pd

In [33]:
#loading CSV file
df = pd.read_csv('staff.csv')

In [34]:
#reading top x rows
df.head()

   index          name    position joining          sepciality
0      0    Irfan Irfi  Instructor     Feb   Software Engineer
1      1           Pir  Instructor     Feb   Software Engineer
2      2         Haris  Instructor     Feb   Software Engineer
3      3         Nasir  Instructor     Feb                  AI
4      4  Waleed Anjum    Lecturer    July                  AI

In [35]:
# view details
df.describe()

          index
count  5.000000
mean   2.000000
std    1.581139
min    0.000000
25%    1.000000
50%    2.000000
75%    3.000000
max    4.000000

In [36]:
#accessing specific column values
df.name

0      Irfan Irfi
1             Pir
2           Haris
3           Nasir
4    Waleed Anjum
Name: name, dtype: object

In [37]:
#conditional access
df[df['name'] == "Nasir"]

   index   name    position joining sepciality
3      3  Nasir  Instructor     Feb         AI

In [55]:
#adding a new record to the CSV dataset
new_record = dict({
    "name": "Waleed Anjum",
    "position": "Lecturer",
    "joining": "July",
    "sepciality": "AI"
})

In [56]:
# ignore_index=True, A continuous index value will be maintained
nf = df.append(new_record, ignore_index=True)

In [43]:
#writing the updated dataset back to the file)
nf.to_csv('staff.csv')
nf

   index          name    position joining          sepciality
0    0.0    Irfan Irfi  Instructor     Feb   Software Engineer
1    1.0           Pir  Instructor     Feb   Software Engineer
2    2.0         Haris  Instructor     Feb   Software Engineer
3    3.0         Nasir  Instructor     Feb                  AI
4    4.0  Waleed Anjum    Lecturer    July                  AI
5    NaN  Waleed Anjum    Lecturer    July                  AI

In [57]:
#drop a column

#where 1 is the axis number (0 for rows and 1 for columns.)

#To delete the column without having to reassign df
#set inplace=True
nf.drop('index', axis=1, inplace=True)
nf

KeyError: "['index'] not found in axis"

In [59]:
#drop a row by index
nf.drop(5, inplace=True)
nf

           name    position joining          sepciality
0    Irfan Irfi  Instructor     Feb   Software Engineer
1           Pir  Instructor     Feb   Software Engineer
2         Haris  Instructor     Feb   Software Engineer
3         Nasir  Instructor     Feb                  AI
4  Waleed Anjum    Lecturer    July                  AI

In [61]:
#drop a row by condition
nf.drop([df.name == "Pir"], axis=0)

KeyError: '[(False, True, False, False, False)] not found in axis'

In [67]:
#the method for loading/reading json data file is different
# but the rest of the operations are same across formats (XML, CSV, JSON)
jd = pd.read_json('json_data.json')

In [68]:
jd

                                                    quiz
maths  {'q1': {'question': '5 + 7 = ?', 'options': ['...
sport  {'q1': {'question': 'Which one is correct team...

In [69]:
jd['quiz']

maths    {'q1': {'question': '5 + 7 = ?', 'options': ['...
sport    {'q1': {'question': 'Which one is correct team...
Name: quiz, dtype: object

In [66]:
jd['quiz']['maths']['q1']

{'question': '5 + 7 = ?', 'options': ['10', '11', '12', '13'], 'answer': '12'}

In [70]:
jd['quiz']['maths']['q1']['question']

'5 + 7 = ?'